/* /Pages/FateSheetManager.razor.rz.scp.css */
.sheetContainer[b-pft3e3np99] {
    position: relative;
    display: flex;
    flex: 1;
}

.cardHorizontal[b-pft3e3np99] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-top: 1px solid #171717;
    width: 100%
}
.cardVertical[b-pft3e3np99] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid #171717;
    width: 100%
}
.cardHorizontal:hover[b-pft3e3np99] {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.3);
}
.cardVertical:hover[b-pft3e3np99] {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.3);
}
.cardHorizontal > img[b-pft3e3np99] {
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.cardVertical > img[b-pft3e3np99] {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.btn[b-pft3e3np99] {
    background-color: #171717;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
    .btn:hover[b-pft3e3np99] {
        background-color: #0e0e0e;
    }
@media (max-width: 1000px) {
    .sheetContainer[b-pft3e3np99] {
        flex-direction: column;
    }

    .stuntAndSkillContainer[b-pft3e3np99] {
        flex-direction: column;
    }
}
@media (min-width: 1000px) {
    .sheetContainer[b-pft3e3np99] {
        flex-direction: row;
    }

    .stuntAndSkillContainer[b-pft3e3np99] {
        flex-direction: row;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-t8vz4dt82p] {
    position: relative;
    flex-direction: row;
}

.main[b-t8vz4dt82p] {
    flex: 1;
}

.sidebar[b-t8vz4dt82p] {
    background-image: url('https://cosmosdex.com/images/ectimage/other/farbackgroundblack.png');
    background-repeat: repeat;
}

.top-row[b-t8vz4dt82p] {
    background-color: #f7f7f7;
    border-top: 2px solid #171717;
    border-bottom: 2px solid #171717;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t8vz4dt82p]  a, .top-row .btn-link[b-t8vz4dt82p] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-t8vz4dt82p] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 1000px) {
    .top-row:not(.auth)[b-t8vz4dt82p] {
        display: none;
    }

    .top-row.auth[b-t8vz4dt82p] {
        justify-content: space-between;
    }

    .top-row a[b-t8vz4dt82p], .top-row .btn-link[b-t8vz4dt82p] {
        margin-left: 0;
    }

    .sidebar[b-t8vz4dt82p] {
        background-image: url('https://cdn.discordapp.com/attachments/564022557313859615/992272305487089664/unknown.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100vw;
    }
}

@media (min-width: 1000px) {
    .page[b-t8vz4dt82p] {
        flex-direction: row;
        display: flex
    }

    .sidebar[b-t8vz4dt82p] {
        width: 250px;
        height: 100vh;
        position: sticky;
        background-attachment: scroll;
        top: 0;
    }

    .top-row[b-t8vz4dt82p] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-t8vz4dt82p] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-pgqrs0tfg8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-pgqrs0tfg8] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-pgqrs0tfg8] {
    font-size: 1.1rem;
}

.oi[b-pgqrs0tfg8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-pgqrs0tfg8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-pgqrs0tfg8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-pgqrs0tfg8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-pgqrs0tfg8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-pgqrs0tfg8]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-pgqrs0tfg8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-pgqrs0tfg8] {
        display: none;
    }

    .collapse[b-pgqrs0tfg8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
