@page "/fate-sheet"
@using System.Text.Json
@using MatBlazor

<style>
    .demo-mat-elevation-container div {
        width: 200px;
        height: 100px;
        float: left;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }
</style>

<h5 class="mat-h5">Example</h5>

<DemoContainer Class="demo-mat-elevation-container">
    <Content>
        <MatPaper Elevation="0">Elevation 0</MatPaper>
        <MatPaper Elevation="1">Elevation 1</MatPaper>
        <MatPaper Elevation="2">Elevation 2</MatPaper>
        <MatPaper Elevation="3">Elevation 3</MatPaper>
        <MatPaper Elevation="4">Elevation 4</MatPaper>
        <MatPaper Elevation="5">Elevation 5</MatPaper>
        <MatPaper Elevation="6">Elevation 6</MatPaper>
        <MatPaper Elevation="7">Elevation 7</MatPaper>
        <MatPaper Elevation="8">Elevation 8</MatPaper>
        <MatPaper Elevation="9">Elevation 9</MatPaper>
        <MatPaper Elevation="10">Elevation 10</MatPaper>
        <MatPaper Elevation="11">Elevation 11</MatPaper>
        <MatPaper Elevation="12">Elevation 12</MatPaper>
        <MatPaper Elevation="13">Elevation 13</MatPaper>
        <MatPaper Elevation="14">Elevation 14</MatPaper>
        <MatPaper Elevation="15">Elevation 15</MatPaper>
        <MatPaper Elevation="16">Elevation 16</MatPaper>
        <MatPaper Elevation="17">Elevation 17</MatPaper>
        <MatPaper Elevation="18">Elevation 18</MatPaper>
        <MatPaper Elevation="19">Elevation 19</MatPaper>
        <MatPaper Elevation="20">Elevation 20</MatPaper>
        <MatPaper Elevation="21">Elevation 21</MatPaper>
        <MatPaper Elevation="22">Elevation 22</MatPaper>
        <MatPaper Elevation="23">Elevation 23</MatPaper>
        <MatPaper Elevation="24">Elevation 24</MatPaper>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatPaper Elevation=""0"">Elevation 0</MatPaper>
        <MatPaper Elevation=""1"">Elevation 1</MatPaper>
        <MatPaper Elevation=""2"">Elevation 2</MatPaper>
        <MatPaper Elevation=""3"">Elevation 3</MatPaper>
        <MatPaper Elevation=""4"">Elevation 4</MatPaper>
        <MatPaper Elevation=""5"">Elevation 5</MatPaper>
        <MatPaper Elevation=""6"">Elevation 6</MatPaper>
        <MatPaper Elevation=""7"">Elevation 7</MatPaper>
        <MatPaper Elevation=""8"">Elevation 8</MatPaper>
        <MatPaper Elevation=""9"">Elevation 9</MatPaper>
        <MatPaper Elevation=""10"">Elevation 10</MatPaper>
        <MatPaper Elevation=""11"">Elevation 11</MatPaper>
        <MatPaper Elevation=""12"">Elevation 12</MatPaper>
        <MatPaper Elevation=""13"">Elevation 13</MatPaper>
        <MatPaper Elevation=""14"">Elevation 14</MatPaper>
        <MatPaper Elevation=""15"">Elevation 15</MatPaper>
        <MatPaper Elevation=""16"">Elevation 16</MatPaper>
        <MatPaper Elevation=""17"">Elevation 17</MatPaper>
        <MatPaper Elevation=""18"">Elevation 18</MatPaper>
        <MatPaper Elevation=""19"">Elevation 19</MatPaper>
        <MatPaper Elevation=""20"">Elevation 20</MatPaper>
        <MatPaper Elevation=""21"">Elevation 21</MatPaper>
        <MatPaper Elevation=""22"">Elevation 22</MatPaper>
        <MatPaper Elevation=""23"">Elevation 23</MatPaper>
        <MatPaper Elevation=""24"">Elevation 24</MatPaper>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

@code {

    private FATEsheet _playerSheet = new();

}
