@page "/fate-sheet"
@using System.Text.Json
@using MatBlazor

<MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        <input @bind="_sheet.aspectName" />
                    </MatHeadline6>
                </div>
 
                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    <p>
                        <textarea @bind="_sheet.aspectDescription" style="width: 100%; background-color: transparent"></textarea>
                    </p>
                </MatBody2>
            </MatCardContent>
        </MatCard>

@code {

    private fateSheet _sheet = new();

}