@page "/fate-sheet"
@using System.Text.Json
@using honksite.Shared

<div class="sheetContainer">

    <div class="leftColumn" style="flex-direction: column; display: flex">
        <div class="card">
          <div class="container">
            <p>Placeholder for the "add aspect" card!</p> 
          </div>
        </div>
        @foreach (aspectclass anAspect in _playerSheet.aspectList) {
            <div class="cardHorizontal">
                <div class="container">
                    <p>@anAspect</p>
                </div>
            </div>
        <div class="card">
          <div class="container">
            <p>Visual placeholder for where the aspects end</p> 
          </div>
        </div>
        }
    </div>
    

    <div class="rightColumn" style="flex-direction: column; display: flex">
        <div class="cardVertical">
            <img src="https://cdn.discordapp.com/attachments/872160747306754058/992280957795188797/unknown.png">
          <div class="container">
            <input @bind="_playerSheet.name"/> 
            <p><textarea @bind="_playerSheet.description" style="width: 100%; background-color: transparent"></textarea></p> 
          </div>
        </div>
        <div class="card">
          <div class="container">
            <p>wowow</p> 
          </div>
        </div>
    </div>
</div>
@code {

    private FATEsheet _playerSheet = new();

}
