@page "/character-sheet"
@using System.Text.Json

<div class="characterSheet"

<!-- The topbar has the name and powerlevel -->
<body>

  <div class="containerHeading">
        <table>
            <tr>
                <td>
                    <input @bind="_playerSheet.name" />
                </td>
                <td>
                    Power Level: <input @bind="_playerSheet.powerLevel" />
                </td>
            </tr>
        </table>
  </div>

<div class="containerShell">

<!-- First Column includes stats, powerpoints, defenses, and offense -->
    <div class="containerColumn">
        <h>
            Stats
        </h>
        <div class="containerStatShell">
        @foreach (string stat in _playerSheet.stats.Keys) {
            <div class="containerStats">
                <p style="text-align: center; width: 100%;">@stat</p>

                <p><input @bind='_playerSheet.stats[stat]' style="border: dimgray 1px solid; width: 100%; text-align: center" maxlength="2" inputmode="numeric"/></p>
            </div>
            }
        </div>

        <h>
            Offense
        </h>
        <p>
            Initiative <input @bind='_playerSheet.initiative' style="border: dimgray 1px solid; width: 100%; text-align: center" maxlength="2" inputmode="numeric"/>
            <table>
                <tr>
                    <td>
                        <button @onclick="AddOffense">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newOffenseText" style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.offense) {
                    <tr>
                        <td>
                            <button @onclick="() => RemoveOffense(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </p>


        <h>
            Defense
        </h>
        <p>
            <table>
                <tr>
                    <td> 
                        Dodge
                    </td>
                    <td> 
                        <input @bind='_playerSheet.defenses["Dodge"]' style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                    <td> 
                        Fortitude
                    </td>
                    <td> 
                        <input @bind='_playerSheet.defenses["Fortitude"]' style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td> 
                        Parry
                    </td>
                    <td> 
                        <input @bind='_playerSheet.defenses["Parry"]' style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                    <td> 
                        Toughness
                    </td>
                    <td> 
                        <input @bind='_playerSheet.defenses["Toughness"]' style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td> 
                        Will
                    </td>
                    <td> 
                        <input @bind='_playerSheet.defenses["Will"]' style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>
            </table>
        </p>
    </div>

<!-- Second Column includes powers, equipment, advantages, and skills -->
    <div class="containerColumn">
        <h>
            Powers
        </h>
        <p>
            <table>
                <tr>
                    <td>
                        <button @onclick="AddPower">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newPowerText" style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.powers) {
                    <tr>
                        <td>
                            <button @onclick="() => RemovePower(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </p>

        <h>
            Equipment
        </h>
        <p>
            <table>
                <tr>
                    <td>
                        <button @onclick="AddEquipment">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newEquipmentText" style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.equipment) {
                    <tr>
                        <td>
                            <button @onclick="() => RemoveEquipment(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </p>

        <h>
            Advantages
        </h>
        <p>
            <table>
                <tr>
                    <td>
                        <button @onclick="AddAdvantage">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newAdvantageText" style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.advantages) {
                    <tr>
                        <td>
                            <button @onclick="() => RemoveAdvantage(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </p>

        <h>
            Skills
        </h>
        <p>
            <table>
                <tr>
                    <td>
                        <button @onclick="AddSkill">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newSkillText" style="border: dimgray 1px solid; width: 100%"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.skills) {
                    <tr>
                        <td>
                            <button @onclick="() => RemoveSkill(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </p>
    </div>

<!-- Third Column includes the picture and complications text box-->
    <div class="containerColumn">
        <img src="@_playerSheet.imageUrl" alt="Image of the character @_playerSheet.name." style="object-fit: cover; width: 100%; height: auto; margin: auto">
        <input @bind="_playerSheet.imageUrl" inputmode="url" style="border: dimgray 1px solid; background-color: rgba(34,40,49,.9);"/>
        <h> 
            Complications
        </h>
        <p>
            <textarea @bind="_playerSheet.complications" style="width: 100%; background-color: transparent; color: ghostwhite"></textarea>
        </p>
    </div>

<!-- the containerShell div -->
</div>
</body>
<!-- the characterSheet div -->
</div>


<h2>Save/Load</h2>

<p>
    <label>
    <input @bind="_saveLoadJson" />
    <button @onclick="ExportToJson">[Export]</button>
    <button @onclick="ImportFromJson">[Import]</button>
    @_importError
    </label>
</p>

@_importError

@code {
    // General variable creation, the mmSheet stuff is in the shared folder

    private mmSheet _playerSheet = new();
    private string _saveLoadJson = "";
    private string _importError = "";

    // creates the options field for the serializing

    JsonSerializerOptions options = new JsonSerializerOptions { WriteIndented = true, IncludeFields = true };
    
    void ExportToJson()
    {
        _saveLoadJson = JsonSerializer.Serialize(_playerSheet, typeof(mmSheet), options);
    }

    void ImportFromJson()
    {
        try {
            mmSheet? _inputSheet = JsonSerializer.Deserialize<mmSheet>(_saveLoadJson, options);
            if(_inputSheet is null) { 
                return; 
            }
            _playerSheet = _inputSheet;
        }
        catch (JsonException e) {
            _importError = e.Message;
        }
    }


    // hoo boy, here's all the input box stuff. Starting with making new variables. This is what'll display in the empty slot
    private string _newPowerText = "";
    private string _newEquipmentText = "";
    private string _newAdvantageText = "";
    private string _newSkillText = "";
    private string _newOffenseText = "";
    // removal code

    private void RemovePower(string target)
    {
        _playerSheet.powers.Remove(target);
    }

    private void RemoveEquipment(string target)
    {
        _playerSheet.equipment.Remove(target);
    }

    private void RemoveAdvantage(string target)
    {
        _playerSheet.advantages.Remove(target);
    }

    private void RemoveSkill(string target)
    {
        _playerSheet.skills.Remove(target);
    }

    private void RemoveOffense(string target)
    {
        _playerSheet.skills.Remove(target);
    }

    // addition code

    private void AddPower()
    {
        _playerSheet.powers.Add(_newPowerText);
    }

    private void AddEquipment()
    {
        _playerSheet.equipment.Add(_newEquipmentText);
    }

    private void AddAdvantage()
    {
        _playerSheet.advantages.Add(_newAdvantageText);
    }

    private void AddSkill()
    {
        _playerSheet.skills.Add(_newSkillText);
    }

    private void AddOffense()
    {
        _playerSheet.offense.Add(_newSkillText);
    }
}
