button {
    font-family: "Poiret One", 'Times New Roman', Arial, sans-serif;
    font-weight: 800;
    border: none;
    background-color: rgb(28, 29, 34);
    background-image: linear-gradient(to right, rgb(5, 39, 103) 0%, #3a0647 70%);

}
.heading-container input {
    color: #e6e6e6;
    background-color: #ffffff00;
    border: 1px solid #ffffff00;
    font-size: inherit;
    cursor: pointer;
    text-align: inherit;
}

.heading-container input:hover {
    border: 1px solid #ffffff00;
}

.heading-container textarea {
    font-size: 18px;
}