@page "/character-sheet"
@using System.Text.Json

<div class="characterSheet"

<!-- The topbar has the name and powerlevel -->
<body>

  <div class="containerHeading">
    <p style="text-align:left;">
        <input @bind="_playerSheet.name" />
        <span style="float:right;">
          <input @bind="_playerSheet.pronouns" />
        </span>
    </p> 
  </div>

<div class="containerShell">

<!-- First Column includes stats, powerpoints, defenses, and offenses-->
    <div class="containerSheet">
        <h>
            Stats
        </h>
        <div>
            @foreach (string stat in _playerSheet.stats.Keys) {
                @stat
                <input @bind='_playerSheet.Stats[stat]' style="width: 30px; text-align: center" maxlength="2" inputmode="numeric"/>
            }
        </div>
    </div>

<!-- Second Column includes powers, equipment, advantages, and skills -->
    <div class="containerSheet">
        <h>
            Powers
        </h>
        <div>
            <input @bind="_playerSheet.powers" />
        </div>

        <h>
            Equipment
        </h>
        <div>
            <input @bind="_playerSheet.equipment" />
        </div>

        <h>
            Advantages
        </h>
        <div>
            <input @bind="_playerSheet.advantages" />
        </div>

        <h>
            Skills
        </h>
        <div>
            <input @bind="_playerSheet.skills" />
        </div>
    </div>

<!-- Third Column includes the picture and complications text box-->
    <div class="containerSheet">
        <img src="@_playerSheet.imageUrl" alt="Image of the character @_playerSheet.name." object-fit="cover" width="500px" height="500px" margin="auto">
        <input @bind="_playerSheet.imageUrl" inputmode="url"/>
        <h> 
            Complications
        </h>
        <div>
            <input @bind="_playerSheet.complications" />
        </div>
    </div>

<!-- the containerShell div -->
</div>
</body>
<!-- the characterSheet div -->
</div>


<h2>Save/Load</h2>

<p>
    <label>
    <input @bind="_saveLoadJson" />
    <button @onclick="ExportToJson">[Export]</button>
    <button @onclick="ImportFromJson">[Import]</button>
    @_importError
    </label>
</p>

@_importError

@code {
    // General variable creation, the mmSheet stuff is in the shared folder

    private mmSheet _playerSheet = new();
    private string _saveLoadJson = "";
    private string _importError = "";

    // creates the options field for the serializing

    JsonSerializerOptions options = new JsonSerializerOptions { WriteIndented = true, IncludeFields = true };
    
    void ExportToJson()
    {
        _saveLoadJson = JsonSerializer.Serialize(_playerSheet, typeof(mmSheet), options);
    }

    void ImportFromJson()
    {
        try {
            mmSheet? _inputSheet = JsonSerializer.Deserialize<mmSheet>(_saveLoadJson, options);
            if(_inputSheet is null) { 
                return; 
            }
            _playerSheet = _inputSheet;
        }
        catch (JsonException e) {
            _importError = e.Message;
        }
    }
}