@inherits LayoutComponentBase
@inject NavigationManager _navManager

<div class="page">
    <div class="sidebar">
            <NavMenu/>
    </div>

    <div class="main">
        @if (!_navManager.Uri.Contains("fate-sheet"))
        {
            <div class="top-row px-4">
                read<a href="https://cosmosdex.com/fortuna/p/0" target="_blank" class="ml-md-auto">[FORTUNA]</a>
            </div>
            
            <div>
            <article class="content px-4">
                @Body
            </article>
        </div>
        }
        @else
        {
            @Body   
        }
    </div>
</div>
