@inherits LayoutComponentBase

<div class="page">
    

        <div class="top-row px-4">
            <a href="https://cosmosdex.com/fortuna/p/0" target="_blank" class="ml-md-auto">Read [FORTUNA]</a>
        </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
