@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://cosmosdex.com/fortuna/p/0" target="_blank">Read [FORTUNA]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
